# binary files
*.7z                -text
*.a                 -text
*.bin               -text
*.config            -text
*.chm               -text
*.class             -text
*.cms               -text
*.dat               -text
*.doc               -text
*.docx              -text
*.DS_Store          -text
*.elfo              -text
*.eps               -text
*.exe               -text
*.gif               -text
*.gz                -text
*.ico               -text
*.jar               -text
*.jpeg              -text
*.jpg               -text
*.lib               -text
*.lnk               -text
*.mfb               -text
*.mov               -text
*.mp4               -text
*.msg               -text
*.nfb               -text
*.o                 -text
*.obj               -text
*.ost               -text
*.out               -text
*.pdf               -text
*.pfx               -text
*.png               -text
*.ppt               -text
*.pptx              -text
*.pst               -text
*.qea               -text
*.so                -text
*.sqlite3           -text
*.svg               -text
*.tar               -text
*.tar.gz            -text
*.tif               -text
*.xls               -text
*.xlsm              -text
*.xlsx              -text
*.whl               -text
*.zip               -text
